.contact-section {
    display: flex;
    flex-direction: column;
    width: 1280px;
    align-items: flex-start;
    gap: 24px;
    padding: 42px 24px;
    position: relative;
    background-color: #ffffff;
  }
  
  .contact-section .text-wrapper {
    position: relative;
    width: 626px;
    margin-top: -1px;
    font-family: var(--h2-font-family);
    font-weight: var(--h2-font-weight);
    color: var(--black);
    font-size: var(--h2-font-size);
    letter-spacing: var(--h2-letter-spacing);
    line-height: var(--h2-line-height);
    font-style: var(--h2-font-style);
  }
  
  .contact-section .div {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 142px 42px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .contact-section .contact-info {
    gap: 42px;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    align-items: flex-start;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .contact-section .title-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .contact-section .text-wrapper-2 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    color: #2d2d2d;
    font-size: var(--body-text-font-size);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    font-style: var(--body-text-font-style);
  }
  
  .contact-section .social-links {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .contact-section .img {
    position: relative;
    width: 36px;
    height: 36px;
  }
  
  .contact-section .contact-form {
    max-width: 520px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    align-items: flex-start;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .contact-section .input-fields {
    flex-direction: column;
    gap: 12px;
    display: flex;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .contact-section .input-field {
    min-width: 320px;
    max-width: 520px;
    padding: 16px 24px;
    background-color: #f3f3f3;
    position: relative;
    align-self: stretch;
    width: 100%;
    border: 0;
    flex: 1;
    flex-grow: 1;
    margin-top: -1px;
    font-family: var(--body-text-font-family);
    font-weight: var(--body-text-font-weight);
    color: #2d2d2d;
    font-size: var(--body-text-font-size);
    letter-spacing: var(--body-text-letter-spacing);
    line-height: var(--body-text-line-height);
    font-style: var(--body-text-font-style);
  }
  
  .contact-section .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 24px 64px;
    position: relative;
    flex: 0 0 auto;
    background-color: #2d2d2d;
    all: unset;
    box-sizing: border-box;
  }
  
  .contact-section .contact {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Epilogue-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--white);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
  }

  
  .contact-section .button .contact {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Epilogue-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--white);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
  }